set adjust-open width
set statusbar-basename true
set recolor-lightcolor \{background} 
set recolor-darkcolor \{foreground}

map a adjust_window width
set statusbar-bg \{background}
set default-bg \{background}
set statusbar-fg \{foreground}
set guioptions "s"
